<p id="notice"><%= notice %></p>

</br>

<div class="jumbotron">
<h1 class="display-4"><%= @blog.title %></h1>
<p> <strong>Category: </strong><%= link_to @blog.category.name,  category_path %></p>
<p class="lead"><%= @blog.body %></p>
  <p class="lead">
  <%= link_to 'Edit', edit_blog_path(@blog), class:"btn btn-dark" %> |
  <%= link_to 'Back', blogs_path, class:"btn btn-dark" %>
  </p>
</div>

<%= form_for [@blog, @comment] do |f| %>
  <div class="field form-group">
  <%= f.label :commenter %><br />
  <%= f.text_field :commenter, class:"form-control" , placeholder: "What we should call  you?"%>
</div>
<div class="field form-group">
  <%= f.label :body %><br />
  <%= f.text_area :body, class:"form-control" , placeholder: "Your feedback means a lot to us!"%>
</div>
<div class="actions">
  <%= f.submit class:"btn btn-dark"%>
</div>   
<% end %>
</br>



<h4>Listing Comments for Blog <%= @blog.title %></h4>
<div class="comment-list" id='comment-list'>
<% @blog.comments.each do |comment| %>
  <%= render 'comment_card', blog: @blog, comment: comment %>
<% end %>
</div>

</br>
